environment:

  matrix:
    - PYTHON: "C:\\Python27"
    - PYTHON: "C:\\Python33"
    - PYTHON: "C:\\Python34"
    - PYTHON: "C:\\Python35"

build: off

test_script:
  - "%PYTHON%\\python.exe tests\\all_tests.py"
